.tl_pw_recovery.tl_message {
    margin-top: 0;
    padding: 10px 45px;
}

.tl_pw_recovery > p {
    border-top: 2px solid #ffffff;
    padding-top: 20px;
}

.tl_pw_recovery a.tl_submit.password_recovery_button {
    background-color: #f46c07;
    border: transparent;
    color: #fff;
    margin-top: 15px;
    display: block;
    padding: 12px 13px;
    height: auto;
}

.tl_pw_recovery a.tl_submit.password_recovery_button:hover {
    background-color: #0f1c26;
}

.tl_require_password_link_form .formbody {
    padding-bottom: 0;
}

.backend-password-recovery .widget {
    padding-top: 10px;
}

.backend-password-recovery .widget .tl_text {
    margin-top: 10px;
}

.backend-password-recovery .widget label,
.backend-password-recovery .main-inner p {
    line-height: 1.5;
}

.backend-password-recovery .main-inner {
    padding: 45px 45px 0 45px;
}