.rbb-custom-scroll-bar-thin {
    scrollbar-width: thin;
}
.mod_resourceBookingWeekcalendar {
    /** Booking table **/
}
.mod_resourceBookingWeekcalendar .rbb-opacity-0 {
    opacity: 0;
}
.mod_resourceBookingWeekcalendar .rbb-opacity-1 {
    opacity: 1;
}
.mod_resourceBookingWeekcalendar * {
    transition-duration: 0.5s;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
}
.mod_resourceBookingWeekcalendar .alert-danger {
    background-color: #ffded5;
    color: #000;
}
.mod_resourceBookingWeekcalendar .alert-danger .rbb-icon {
    color: #fff;
}
.mod_resourceBookingWeekcalendar .alert-success {
    background-color: rgba(115, 207, 97, 0.42);
    color: #000;
}
.mod_resourceBookingWeekcalendar .alert-success .rbb-icon {
    color: #fff;
}
.mod_resourceBookingWeekcalendar .rbb-app .rbb-vue-application {
    visibility: hidden;
}
.mod_resourceBookingWeekcalendar .rbb-app[v-cloak] {
    display: none;
}
.mod_resourceBookingWeekcalendar .rbb-app.rbb-is-ready .rbb-vue-application {
    visibility: visible;
}
.mod_resourceBookingWeekcalendar .rbb-app .rbb-loading-spinner {
    color: #d8d8d8;
}
.mod_resourceBookingWeekcalendar .rbb-filter-board-form > .row {
    display: flex;
    align-items: start;
}
.mod_resourceBookingWeekcalendar .rbb-filter-board-form .rbb-week-select option.past-week {
    color: #8e8e8e;
}
.mod_resourceBookingWeekcalendar .rbb-filter-board-form .rbb-week-select option.current-week {
    font-weight: bold;
    color: #000;
}
.mod_resourceBookingWeekcalendar .rbb-filter-board-form .rbb-week-select option.future-week {
    /** **/
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-booking-form > .rbb-layout-box-inner, .mod_resourceBookingWeekcalendar .rbb-booking-table-main {
    overflow-x: auto;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-booking-form > .rbb-layout-box-inner *, .mod_resourceBookingWeekcalendar .rbb-booking-table-main * {
    font-size: small;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-booking-form > .rbb-layout-box-inner .rbb-layout-cell, .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell {
    flex-grow: 1;
    flex-basis: 0;
    overflow: hidden;
    background-color: #fff;
    border: 3px solid #fff;
    padding: 0.25rem;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-booking-form > .rbb-layout-box-inner .rbb-layout-cell.rbb-time-slot-cell, .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell.rbb-time-slot-cell {
    background-color: rgba(115, 207, 97, 0.42);
    height: 6rem;
    display: flex;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-booking-form > .rbb-layout-box-inner .rbb-layout-cell.rbb-time-slot-cell[data-isbooked="true"], .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell.rbb-time-slot-cell[data-isbooked="true"] {
    background-color: rgba(115, 207, 97, 0.42);
    overflow-y: auto;
    /* Chrome, Edge, and Safari */
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-booking-form > .rbb-layout-box-inner .rbb-layout-cell.rbb-time-slot-cell[data-isbooked="true"], .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell.rbb-time-slot-cell[data-isbooked="true"] {
    scrollbar-width: thin;
    scrollbar-color: #000 #fff;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-booking-form > .rbb-layout-box-inner .rbb-layout-cell.rbb-time-slot-cell[data-isbooked="true"]::-webkit-scrollbar, .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell.rbb-time-slot-cell[data-isbooked="true"]::-webkit-scrollbar {
    width: 5px;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-booking-form > .rbb-layout-box-inner .rbb-layout-cell.rbb-time-slot-cell[data-isbooked="true"]::-webkit-scrollbar-track, .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell.rbb-time-slot-cell[data-isbooked="true"]::-webkit-scrollbar-track {
    background: #fff;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-booking-form > .rbb-layout-box-inner .rbb-layout-cell.rbb-time-slot-cell[data-isbooked="true"]::-webkit-scrollbar-thumb, .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell.rbb-time-slot-cell[data-isbooked="true"]::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 3px;
    border: 1px solid #fff;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-booking-form > .rbb-layout-box-inner .rbb-layout-cell.rbb-time-slot-cell[data-isbookable="true"], .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell.rbb-time-slot-cell[data-isbookable="true"] {
    background-color: rgba(115, 207, 97, 0.42);
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-booking-form > .rbb-layout-box-inner .rbb-layout-cell.rbb-time-slot-cell[data-isinvaliddate="true"], .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell.rbb-time-slot-cell[data-isinvaliddate="true"] {
    background-color: #e9ecef;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-booking-form > .rbb-layout-box-inner .rbb-layout-cell.rbb-time-slot-cell[data-isfullybooked="true"], .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell.rbb-time-slot-cell[data-isfullybooked="true"] {
    background-color: #ffded5;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-booking-form > .rbb-layout-box-inner .rbb-layout-cell.rbb-time-slot-cell[data-isfullybooked="true"]:has(.rbb-booked-item[data-confirmed="false"]), .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell.rbb-time-slot-cell[data-isfullybooked="true"]:has(.rbb-booked-item[data-confirmed="false"]) {
    background-color: #ffd085;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-booking-form > .rbb-layout-box-inner .rbb-layout-cell.rbb-cell-headline, .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell.rbb-cell-headline {
    background-color: #fff;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell.rbb-time-slot-cell {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-booking-form .rbb-layout-cell.rbb-time-slot-cell .form-check {
    line-height: 0;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-booking-form .rbb-layout-cell.rbb-time-slot-cell .form-check .form-check-input {
    margin: 0;
    padding: 0;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-booking-form .rbb-layout-cell.rbb-time-slot-cell .form-check .form-check-label {
    margin: 0;
    display: none;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-booking-form .rbb-booking-form-inputs .form-group > label {
    margin-top: 2rem;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-booking-form .rbb-booking-form-inputs .form-group:first-child > label {
    margin-top: 0;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell {
    min-width: 180px;
    max-width: 250px;
    word-break: break-all;
    position: relative;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell .rbb-time-slot-cell-inner {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell .rbb-cell-booking-still-available-box {
    font-size: xx-small;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell .btn-link {
    position: absolute;
    margin: auto;
    width: 2rem;
    height: 2rem;
    padding: 0;
    font-size: 2rem;
    top: 1.75rem;
    line-height: 2rem;
    right: 0;
    left: 0;
    z-index: 10;
    opacity: 0.7;
    border: 0;
    transition: opacity 0.8s;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell .rbb-btn-cancel-booking, .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell .rbb-icon-cancel-booking {
    font-size: 2rem;
    color: #fff;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell .rbb-btn-booking, .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell .rbb-icon-booking {
    font-size: 2rem;
    color: #fff;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell .rbb-btn-booking .rbb-icon-cancel-booking {
    font-size: 2rem;
    color: #fff;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell .rbb-btn-booking .rbb-icon-cancel-booking {
    display: none;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell .rbb-btn-cancel-booking .rbb-icon-booking {
    display: none;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell.rbb-time-slot-indicator {
    width: 110px;
    min-width: 110px;
    max-width: 110px;
    word-break: break-all;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell.rbb-time-slot-cell .rbb-cell-booking-owner-box {
    font-weight: bold;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell.rbb-time-slot-cell .rbb-cell-booking-owner-box, .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell.rbb-time-slot-cell .rbb-cell-booking-description-box, .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell.rbb-time-slot-cell .item-counter-box {
    position: relative;
    z-index: 20;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell.rbb-time-slot-cell .rbb-cell-booking-description-box small {
    font-size: 0.75rem;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell[data-userisloggedin][data-iscancelable]:hover .btn-link, .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell[data-userisloggedin][data-isbookable]:hover .btn-link {
    z-index: 30;
    opacity: 1;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell[data-userisloggedin][data-iscancelable]:hover .btn-link > .rbb-icon-cancel-booking, .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell[data-userisloggedin][data-isbookable]:hover .btn-link > .rbb-icon-cancel-booking {
    color: red !important;
    transition: color 0.8s;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell[data-userisloggedin][data-iscancelable]:hover .rbb-cell-booking-description-box, .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell[data-userisloggedin][data-isbookable]:hover .rbb-cell-booking-description-box, .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell[data-userisloggedin][data-iscancelable]:hover .rbb-cell-booking-owner-box, .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell[data-userisloggedin][data-isbookable]:hover .rbb-cell-booking-owner-box, .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell[data-userisloggedin][data-iscancelable]:hover .item-counter-box, .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell[data-userisloggedin][data-isbookable]:hover .item-counter-box, .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell[data-userisloggedin][data-iscancelable]:hover .rbb-cell-booking-still-available-box, .mod_resourceBookingWeekcalendar .rbb-booking-table-main .rbb-layout-cell[data-userisloggedin][data-isbookable]:hover .rbb-cell-booking-still-available-box {
    opacity: 0.3;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-booking-form .rbb-layout-cell {
    height: auto !important;
    min-height: 2.5rem;
    display: flex;
    align-items: center;
    background-color: rgba(115, 207, 97, 0.42);
    justify-content: center;
    min-width: 100px;
    width: 100px;
    max-width: 100px;
}
.mod_resourceBookingWeekcalendar .rbb-booking-table-booking-form .rbb-layout-cell.rbb-time-slot-indicator {
    justify-content: left;
    background-color: #fff;
    width: 110px;
    min-width: 110px;
    max-width: 110px;
    word-break: break-all;
}
.mod_resourceBookingWeekcalendar .rbb-booking-window .rbb-booking-window-header-title {
    color: #fff;
}
.mod_resourceBookingWeekcalendar .rbb-booking-window .rbb-info-table .rbb-layout-cell, .mod_resourceBookingWeekcalendar .rbb-booking-window .rbb-booking-preview-table .rbb-layout-cell {
    padding: 0.35rem 0.25rem;
}
.mod_resourceBookingWeekcalendar .rbb-booking-window .rbb-info-table .rbb-layout-cell.rbb-column-first, .mod_resourceBookingWeekcalendar .rbb-booking-window .rbb-booking-preview-table .rbb-layout-cell.rbb-column-first {
    width: 150px;
}
.mod_resourceBookingWeekcalendar .rbb-booking-window .rbb-booking-preview-table .bookable {
    background-color: rgba(115, 207, 97, 0.42);
}
.mod_resourceBookingWeekcalendar .rbb-booking-window .rbb-booking-preview-table .not-bookable {
    background-color: #ffded5;
}
.mod_resourceBookingWeekcalendar .rbb-booking-window button.rbb-close-window {
    padding: 0 30px;
    color: #fff;
    border: 0;
    border-left: 1px solid #fff;
    font-size: x-large;
}
.mod_resourceBookingWeekcalendar .rbb-booking-window .rbb-time-span-select option[selected] {
    background-color: #149efb;
}
.mod_resourceBookingWeekcalendar .rbb-icon {
    font-size: 1em;
    height: 1em;
    overflow: visible;
    box-sizing: content-box;
}
.mod_resourceBookingWeekcalendar .rbb-icon-2x {
    font-size: 2em !important;
}
.mod_resourceBookingWeekcalendar .rbb-icon-3x {
    font-size: 3em !important;
}
.mod_resourceBookingWeekcalendar .rbb-icon-4x {
    font-size: 4em !important;
}
.mod_resourceBookingWeekcalendar .rbb-icon-5x {
    font-size: 5em !important;
}
.mod_resourceBookingWeekcalendar .rbb-icon-spin {
    animation-name: rbb-icon-spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rbb-icon-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
