$notBookableBg: #adb5bd2e;
$bookableBg: rgba(115, 207, 97, 0.42);
$loggedInUserIsHolderBg: rgba(3, 169, 244, 0.32);
$iconBookingColor: #ffffff;
$iconCancelBookingColor: #ffffff;
$iconCancelBookingHoverColor: #98777e;
$tableBorderColor: #ccc;
$transitionSpeed: .8s;

.resource-booking-backdrop-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  opacity: 0;
}

.mod_resourceBookingWeekcalendar {
  .resource-booking-app .vue-application {
    visibility: hidden;
  }

  .resource-booking-app[v-cloak] {
    display: none;
  }

  .resource-booking-app.is-ready .vue-application {
    visibility: visible;
  }

  .resource-booking-app {
    .loading-spinner {
      color: #d8d8d8;
    }
  }

  // filter form (restype-, res- and week selector
  .resource-booking-form {
    .week-select {
      option.past-week {
        color: #8e8e8e;
      }

      option.current-week {
        font-weight: bold;
        color: #000000;
      }

      option.future-week {
        /** **/
      }
    }
  }

  .resource-booking-table-window, .resource-booking-table-main {
    overflow-x: auto;

    * {
      font-size: small;
    }

    .layout-row {
      display: flex;
    }

    .layout-cell {
      // Set equal width
      flex-grow: 1;
      flex-basis: 0;
      overflow: hidden;
      background-color: #ffffff;
      border: 3px solid #ffffff;
      padding: .25rem;

      &.time-slot-cell {
        background-color: $bookableBg;
        height: 6rem;
        display: flex;
      }

      &.time-slot-cell[data-isbooked="true"] {
        background-color: $notBookableBg;
      }

      &.time-slot-cell[data-isbookable="true"] {
        background-color: $bookableBg;
      }

      &.time-slot-cell[data-isinvaliddate="true"] {
        background-color: $notBookableBg;
      }
    }
  }

  .resource-booking-table-main {
    .layout-cell.time-slot-cell {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  .resource-booking-table-window {
    .layout-cell.time-slot-cell {
      align-items: center;
      justify-content: center;

      .custom-control {
        line-height: 0;

        label {
          margin: 0;
          display: none;
        }
      }
    }
  }

  // Wrap long words
  .resource-booking-table-main {
    .layout-cell {
      min-width: 180px;
      max-width: 250px;
      word-break: break-all;
      position: relative;

      .btn-link {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        opacity: 0.6;
        transition: opacity $transitionSpeed;
      }

      .btn-link > .icon-cancel-booking {
        font-size: 2rem;
        color: $iconCancelBookingColor;
      }

      .btn-booking, .icon-booking {
        font-size: 2rem;
        color: $iconBookingColor;
      }

      .btn-booking .icon-cancel-booking {
        font-size: 2rem;
        color: $iconCancelBookingColor;
      }

      .btn-booking .icon-cancel-booking {
        display: none;
      }

      .btn-cancel-booking .icon-booking {
        display: none;
      }

      &.time-slot-indicator {
        width: 110px;
        min-width: 110px;
        max-width: 110px;
        word-break: break-all;
      }

      &.time-slot-cell[data-is-holder="true"] {
        background-color: $loggedInUserIsHolderBg;
      }

      &.time-slot-cell {
        .holder-box {
          font-weight: bold;
        }

        .holder-box, .description-box {
          position: relative;
          z-index: 20;
        }
      }
    }

    // Change buttons z-index and opacity, when hovering
    .layout-cell[data-iscancelable]:hover, .layout-cell[data-isbookable]:hover {
      .btn-link {
        z-index: 30;
        opacity: 1;
      }

      .btn-link > .icon-cancel-booking {
        color: $iconCancelBookingHoverColor !important;
        transition: color $transitionSpeed;
      }

      .description-box, .holder-box {
        opacity: 0.3;
      }
    }
  }


  /** Booking table **/
  .resource-booking-table-window {
    .layout-cell {
      height: auto !important;
      min-height: 2.5rem;
      display: flex;
      align-items: center;
      background-color: $bookableBg;
      justify-content: center;
      min-width: 100px;
      width: 100px;
      max-width: 100px;

      &.time-slot-indicator {
        justify-content: left;
        background-color: #ffffff;
        width: 110px;
        min-width: 110px;
        max-width: 110px;
        word-break: break-all;
      }
    }
  }

  .tl_error {
    background-color: var(--danger);
    padding: 0.5rem;
  }

  .table-no-border {
    .layout-cell, .layout-cell {
      border: none !important;
      border: 0 !important;
      border-color: transparent !important;
    }
  }

  // Booking window
  .booking-window {
    .booking-window-header-title {
      color: #ffffff;
    }

    .info-table, .booking-preview {
      .layout-row {
        border-top: 1px solid $tableBorderColor;

        &.row-last {
          border-bottom: 1px solid $tableBorderColor;
        }

        .layout-cell {
          padding: .35rem .25rem;

          &.column-first {
            width: 150px;
          }
        }
      }
    }

    .booking-preview {
      .bookable {
        background-color: $bookableBg;
      }

      .not-bookable {
        background-color: $notBookableBg;
      }
    }

    button.close-window {
      padding: 0 30px;
      color: #ffffff;
      border: 0;
      border-left: 1px solid #ffffff;
      font-size: x-large;
    }

    .booking-preview.table > tbody {
      tr td {
        padding-left: 4px;
        padding-right: 4px;
      }

      tr.bookable td {
        background-color: $bookableBg;
      }

      tr.not-bookable td {
        background-color: $notBookableBg;
      }
    }

    .timeSpanSelect option[selected] {
      background-color: #149efb;
    }
  }

}

