$notBookableBg: #e9ecef;
$bookableBg: rgba(115, 207, 97, 0.42);
$fullyBookedBg: rgb(255, 222, 213);
$bgColorAlertSuccess: $bookableBg;
$bgColorAlertDanger: $fullyBookedBg;
$loggedInUserIsHolderBg: rgba(3, 169, 244, 0.32);
$iconBookingColor: #ffffff;
$iconCancelBookingColor: #ffffff;
$iconCancelBookingHoverColor: red;
$tableBorderColor: #ccc;
$transitionSpeed: .8s;

.rbb-custom-scroll-bar-thin {
  & {
    scrollbar-width: 5px;
    scrollbar-color: #000000 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 3px;
    border: 1px solid #ffffff;
  }
}

.mod_resourceBookingWeekcalendar {

  .alert-danger {
    background-color: $bgColorAlertDanger;
    color: #000000;

    .fas, .svg-inline--fa {
      color: #ffffff;
    }
  }

  .alert-success {
    background-color: $bgColorAlertSuccess;
    color: #000000;

    .fas, .svg-inline--fa {
      color: #ffffff;
    }
  }

  .rbb-app .rbb-vue-application {
    visibility: hidden;
  }

  .rbb-app[v-cloak] {
    display: none;
  }

  .rbb-app.rbb-is-ready .rbb-vue-application {
    visibility: visible;
  }

  .rbb-app {
    .rbb-loading-spinner {
      color: #d8d8d8;
    }
  }

  // filter form (restype-, res- and week selector
  .rbb-filter-board-form {
    > .row {
      display: flex;
      align-items: start;
    }

    .rbb-week-select {
      option.past-week {
        color: #8e8e8e;
      }

      option.current-week {
        font-weight: bold;
        color: #000000;
      }

      option.future-week {
        /** **/
      }


    }
  }

  .rbb-booking-table-booking-form, .rbb-booking-table-main {
    overflow-x: auto;

    * {
      font-size: small;
    }

    .rbb-layout-cell {
      // Set equal width
      flex-grow: 1;
      flex-basis: 0;
      overflow: hidden;
      background-color: #ffffff;
      border: 3px solid #ffffff;
      padding: .25rem;

      &.rbb-time-slot-cell {
        background-color: $bookableBg;
        height: 6rem;
        display: flex;
      }

      &.rbb-time-slot-cell[data-isbooked="true"] {
        background-color: $bookableBg;
        overflow-y: auto;
        @extend .rbb-custom-scroll-bar-thin;
      }

      &.rbb-time-slot-cell[data-isbookable="true"] {
        background-color: $bookableBg;
      }

      &.rbb-time-slot-cell[data-isinvaliddate="true"] {
        background-color: $notBookableBg;
      }

      &.rbb-time-slot-cell[data-isfullybooked="true"] {
        background-color: $fullyBookedBg;
      }

      &.rbb-cell-headline {
        background-color: #ffffff;
      }
    }
  }

  .rbb-booking-table-main {
    .rbb-layout-cell.rbb-time-slot-cell {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  .rbb-booking-table-booking-form {
    .rbb-layout-cell.rbb-time-slot-cell {
      align-items: center;
      justify-content: center;

      .custom-control {
        line-height: 0;

        label {
          margin: 0;
          display: none;
        }
      }
    }
  }

  // Wrap long words
  .rbb-booking-table-main {
    .rbb-layout-cell {
      min-width: 180px;
      max-width: 250px;
      word-break: break-all;
      position: relative;

      .rbb-time-slot-cell-inner {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%
      }

      .rbb-cell-booking-still-available-box {
        font-size: xx-small;
      }

      .btn-link {
        position: absolute;
        margin: auto;
        width: 2rem;
        height: 2rem;
        padding: 0;
        font-size: 2rem;
        top: 1.75rem;
        line-height: 2rem;
        right: 0;
        left: 0;
        z-index: 10;
        opacity: 0.4;
        border: 0;
        transition: opacity $transitionSpeed;
      }

      .rbb-btn-cancel-booking, .rbb-icon-cancel-booking {
        font-size: 2rem;
        color: $iconCancelBookingColor;
      }

      .rbb-btn-booking, .rbb-icon-booking {
        font-size: 2rem;
        color: $iconBookingColor;
      }

      .rbb-btn-booking .rbb-icon-cancel-booking {
        font-size: 2rem;
        color: $iconCancelBookingColor;
      }

      .rbb-btn-booking .rbb-icon-cancel-booking {
        display: none;
      }

      .rbb-btn-cancel-booking .rbb-icon-booking {
        display: none;
      }

      &.rbb-time-slot-indicator {
        width: 110px;
        min-width: 110px;
        max-width: 110px;
        word-break: break-all;
      }

      &.rbb-time-slot-cell {
        .rbb-cell-booking-owner-box {
          font-weight: bold;
        }

        .rbb-cell-booking-owner-box, .rbb-cell-booking-description-box, .item-counter-box {
          position: relative;
          z-index: 20;
        }

        .rbb-cell-booking-description-box small {
          font-size: 0.75rem;
        }
      }
    }

    // Change buttons z-index and opacity, when hovering
    .rbb-layout-cell[data-userisloggedin][data-iscancelable]:hover, .rbb-layout-cell[data-userisloggedin][data-isbookable]:hover {
      .btn-link {
        z-index: 30;
        opacity: 1;
      }

      .btn-link > .rbb-icon-cancel-booking {
        color: $iconCancelBookingHoverColor !important;
        transition: color $transitionSpeed;
      }

      .rbb-cell-booking-description-box, .rbb-cell-booking-owner-box, .item-counter-box, .rbb-cell-booking-still-available-box {
        opacity: 0.3;
      }
    }
  }


  /** Booking table **/
  .rbb-booking-table-booking-form {
    .rbb-layout-cell {
      height: auto !important;
      min-height: 2.5rem;
      display: flex;
      align-items: center;
      background-color: $bookableBg;
      justify-content: center;
      min-width: 100px;
      width: 100px;
      max-width: 100px;

      &.rbb-time-slot-indicator {
        justify-content: left;
        background-color: #ffffff;
        width: 110px;
        min-width: 110px;
        max-width: 110px;
        word-break: break-all;
      }
    }
  }

  // Booking window
  .rbb-booking-window {
    .rbb-booking-window-header-title {
      color: #ffffff;
    }

    .rbb-info-table, .rbb-booking-preview-table {
      border-top: 1px solid $tableBorderColor;

      &.rbb-row-last {
        border-bottom: 1px solid $tableBorderColor;
      }

      .rbb-layout-cell {
        padding: .35rem .25rem;

        &.rbb-column-first {
          width: 150px;
        }
      }
    }

    .rbb-booking-preview-table {
      .bookable {
        background-color: $bookableBg;
      }

      .not-bookable {
        background-color: $fullyBookedBg;
      }
    }

    button.rbb-close-window {
      padding: 0 30px;
      color: #ffffff;
      border: 0;
      border-left: 1px solid #ffffff;
      font-size: x-large;
    }

    .rbb-time-span-select option[selected] {
      background-color: #149efb;
    }
  }

}

