.mod_resourceBookingWeekCalendar #resourceBookingApp .vue-application {
    visibility: hidden;
}
.mod_resourceBookingWeekCalendar #resourceBookingApp.is-ready .vue-application {
    visibility: visible;
}
.mod_resourceBookingWeekCalendar table.resource-booking-table-main *, .mod_resourceBookingWeekCalendar table.resource-booking-table-modal * {
    font-size: small;
}
.mod_resourceBookingWeekCalendar table.resource-booking-table-main td, .mod_resourceBookingWeekCalendar table.resource-booking-table-main th, .mod_resourceBookingWeekCalendar table.resource-booking-table-modal td, .mod_resourceBookingWeekCalendar table.resource-booking-table-modal th {
    background-color: #fff;
    border: 3px solid #fff;
    padding: 0.25rem;
}
.mod_resourceBookingWeekCalendar table.resource-booking-table-main td.time-slot-cell, .mod_resourceBookingWeekCalendar table.resource-booking-table-modal td.time-slot-cell {
    background-color: rgba(182, 228, 182, 0.38);
    height: 6rem;
}
.mod_resourceBookingWeekCalendar table.resource-booking-table-main td.time-slot-cell[data-isbooked=true], .mod_resourceBookingWeekCalendar table.resource-booking-table-modal td.time-slot-cell[data-isbooked=true] {
    background-color: rgba(255, 200, 196, 0.66);
}
.mod_resourceBookingWeekCalendar table.resource-booking-table-main .btn-cancel-booking, .mod_resourceBookingWeekCalendar table.resource-booking-table-modal .btn-cancel-booking {
    color: red;
}
.mod_resourceBookingWeekCalendar table.resource-booking-table-main .btn-booking, .mod_resourceBookingWeekCalendar table.resource-booking-table-modal .btn-booking {
    color: #666;
}
.mod_resourceBookingWeekCalendar table.resource-booking-table-main .btn-booking svg.fa-window-close, .mod_resourceBookingWeekCalendar table.resource-booking-table-modal .btn-booking svg.fa-window-close {
    display: none;
}
.mod_resourceBookingWeekCalendar table.resource-booking-table-main .btn-cancel-booking svg.fa-shopping-cart, .mod_resourceBookingWeekCalendar table.resource-booking-table-modal .btn-cancel-booking svg.fa-shopping-cart {
    display: none;
}
.mod_resourceBookingWeekCalendar table.resource-booking-table-main td, .mod_resourceBookingWeekCalendar table.resource-booking-table-main th {
    min-width: 100px;
    max-width: 100px;
    word-break: break-all;
}
.mod_resourceBookingWeekCalendar table.resource-booking-table-main td.time-slot-cell[data-is-holder=true] {
    background-color: rgba(255, 164, 152, 0.63);
}
.mod_resourceBookingWeekCalendar table.resource-booking-table-main td.time-slot-cell[data-is-holder=true] .holder-box {
    font-weight: bold;
}
.mod_resourceBookingWeekCalendar .tl_error {
    background-color: var(--danger);
    padding: 0.5rem;
}
.mod_resourceBookingWeekCalendar table.resource-booking-table-modal td, .mod_resourceBookingWeekCalendar table.resource-booking-table-modal th {
    height: auto !important;
    min-height: 2.5rem;
    text-align: center;
    vertical-align: middle;
}
.mod_resourceBookingWeekCalendar table.table-no-border td, .mod_resourceBookingWeekCalendar table.table-no-border th {
    border: none !important;
    border: 0 !important;
    border-color: transparent !important;
}
.mod_resourceBookingWeekCalendar table#bookingPreview tr td {
    padding-left: 4px;
    padding-right: 4px;
}
.mod_resourceBookingWeekCalendar table#bookingPreview tr.bookable td {
    background-color: rgba(182, 228, 182, 0.38);
}
.mod_resourceBookingWeekCalendar table#bookingPreview tr.not-bookable td {
    background-color: rgba(255, 200, 196, 0.66);
}
.mod_resourceBookingWeekCalendar .timeSpanSelect option[selected] {
    background-color: #149efb;
}

tr.time-slot-6 td {
    border-top: 20px solid #fff !important;
}

tr.time-slot-4 td, tr.time-slot-8 td {
    border-top: 8px solid #fff !important;
}

tr.time-slot-6 td {
    border-top: 20px solid #fff !important;
}
