$notBookableBg: #e9ecef;
$bookableBg: rgba(115, 207, 97, 0.42);
$fullyBookedBg: rgb(255, 222, 213);
$bgColorAlertSuccess: $bookableBg;
$bgColorAlertDanger: $fullyBookedBg;
$loggedInUserIsHolderBg: rgba(3, 169, 244, 0.32);
$iconBookingColor: #ffffff;
$iconCancelBookingColor: #ffffff;
$iconCancelBookingHoverColor: red;
$tableBorderColor: #ccc;
$transitionSpeed: .8s;

.custom-scroll-bar-thin {
  & {
    scrollbar-width: auto;
    scrollbar-color: #000000 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
}

.mod_resourceBookingWeekcalendar {
  .alert-danger {
    background-color: $bgColorAlertDanger;
    color: #000000;

    .fas, .svg-inline--fa {
      color: #ffffff;
    }
  }

  .alert-success {
    background-color: $bgColorAlertSuccess;
    color: #000000;

    .fas, .svg-inline--fa {
      color: #ffffff;
    }
  }

  .resource-booking-app .vue-application {
    visibility: hidden;
  }

  .resource-booking-app[v-cloak] {
    display: none;
  }

  .resource-booking-app.is-ready .vue-application {
    visibility: visible;
  }

  .resource-booking-app {
    .loading-spinner {
      color: #d8d8d8;
    }
  }

  // filter form (restype-, res- and week selector
  .resource-booking-form {
    > .row {
      display: flex;
      align-items: baseline;
    }

    .week-select {
      option.past-week {
        color: #8e8e8e;
      }

      option.current-week {
        font-weight: bold;
        color: #000000;
      }

      option.future-week {
        /** **/
      }
    }
  }

  .resource-booking-table-window, .resource-booking-table-main {
    overflow-x: auto;

    * {
      font-size: small;
    }

    .layout-row {
      display: flex;
    }

    .layout-cell {
      // Set equal width
      flex-grow: 1;
      flex-basis: 0;
      overflow: hidden;
      background-color: #ffffff;
      border: 3px solid #ffffff;
      padding: .25rem;

      &.time-slot-cell {
        background-color: $bookableBg;
        height: 6rem;
        display: flex;
      }

      &.time-slot-cell[data-isbooked="true"] {
        background-color: $bookableBg;
        overflow-y: auto;
        @extend .custom-scroll-bar-thin;
      }

      &.time-slot-cell[data-isbookable="true"] {
        background-color: $bookableBg;
      }

      &.time-slot-cell[data-isinvaliddate="true"] {
        background-color: $notBookableBg;
      }

      &.time-slot-cell[data-isfullybooked="true"] {
        background-color: $fullyBookedBg;
      }

      &.cell-headline {
        background-color: #ffffff;
      }
    }
  }

  .resource-booking-table-main {
    .layout-cell.time-slot-cell {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  .resource-booking-table-window {
    .layout-cell.time-slot-cell {
      align-items: center;
      justify-content: center;

      .custom-control {
        line-height: 0;

        label {
          margin: 0;
          display: none;
        }
      }
    }
  }

  // Wrap long words
  .resource-booking-table-main {
    .layout-cell {
      min-width: 180px;
      max-width: 250px;
      word-break: break-all;
      position: relative;

      .time-slot-cell-inner {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%
      }

      .still-available-box {
        font-size: xx-small;
      }

      .btn-link {
        position: absolute;
        margin: auto;
        width: 2rem;
        height: 2rem;
        padding: 0;
        font-size: 2rem;
        top: 1.75rem;
        line-height: 2rem;
        right: 0;
        left: 0;
        z-index: 10;
        opacity: 0.4;
        border: 0;
        transition: opacity $transitionSpeed;
      }

      .btn-link > .icon-cancel-booking {
        font-size: 2rem;
        color: $iconCancelBookingColor;
      }

      .btn-booking, .icon-booking {
        font-size: 2rem;
        color: $iconBookingColor;
      }

      .btn-booking .icon-cancel-booking {
        font-size: 2rem;
        color: $iconCancelBookingColor;
      }

      .btn-booking .icon-cancel-booking {
        display: none;
      }

      .btn-cancel-booking .icon-booking {
        display: none;
      }

      &.time-slot-indicator {
        width: 110px;
        min-width: 110px;
        max-width: 110px;
        word-break: break-all;
      }

      &.time-slot-cell {
        .owner-box {
          font-weight: bold;
        }

        .owner-box, .description-box, .item-counter-box {
          position: relative;
          z-index: 20;
        }

        .description-box small {
          font-size: 0.75rem;
        }
      }
    }

    // Change buttons z-index and opacity, when hovering
    .layout-cell[data-userisloggedin][data-iscancelable]:hover, .layout-cell[data-userisloggedin][data-isbookable]:hover {
      .btn-link {
        z-index: 30;
        opacity: 1;
      }

      .btn-link > .icon-cancel-booking {
        color: $iconCancelBookingHoverColor !important;
        transition: color $transitionSpeed;
      }

      .description-box, .owner-box, .item-counter-box, .still-available-box {
        opacity: 0.3;
      }
    }
  }


  /** Booking table **/
  .resource-booking-table-window {
    .layout-cell {
      height: auto !important;
      min-height: 2.5rem;
      display: flex;
      align-items: center;
      background-color: $bookableBg;
      justify-content: center;
      min-width: 100px;
      width: 100px;
      max-width: 100px;

      &.time-slot-indicator {
        justify-content: left;
        background-color: #ffffff;
        width: 110px;
        min-width: 110px;
        max-width: 110px;
        word-break: break-all;
      }
    }
  }

  // Booking window
  .booking-window {
    .booking-window-header-title {
      color: #ffffff;
    }

    .info-table, .booking-preview {
      .layout-row {
        border-top: 1px solid $tableBorderColor;

        &.row-last {
          border-bottom: 1px solid $tableBorderColor;
        }

        .layout-cell {
          padding: .35rem .25rem;

          &.column-first {
            width: 150px;
          }
        }
      }
    }

    .booking-preview {
      .bookable {
        background-color: $bookableBg;
      }

      .not-bookable {
        background-color: $fullyBookedBg;
      }
    }

    button.close-window {
      padding: 0 30px;
      color: #ffffff;
      border: 0;
      border-left: 1px solid #ffffff;
      font-size: x-large;
    }

    .timeSpanSelect option[selected] {
      background-color: #149efb;
    }
  }

}

