# subscriber.yml
services:
  Markocupic\ResourceBookingBundle\EventSubscriber\AjaxRequestEventSubscriber:
    arguments:
    - '@contao.framework'
    - '@Markocupic\ResourceBookingBundle\Booking\BookingTable'
    - '@Markocupic\ResourceBookingBundle\Booking\Booking'
    - '@Markocupic\ResourceBookingBundle\User\LoggedInFrontendUser'
    - '@session'
    - '@request_stack'
    - '%resource_booking_bundle.session.attribute_bag_name%'
    - '@security.helper'
    - '@event_dispatcher'
    tags:
    - { name: kernel.event_listener, event: rbb.event.xml_http_request, method: onXmlHttpRequest, priority: 10 }
