#container {
  #main {
    padding-bottom: $spacer-y;
  }
  .mod_article:not(.container-fluid) > .inside {
    @extend .container;
    padding: $spacer;
  }

  .mod_article.container-fluid {
    padding: 0;
  }

  .mod_article {
    background-color: #fff;
    margin-bottom: $spacer-y;
    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }
  }

  .mod_article {
    > .inside {
      background-color: #fff;
      > *:first-child {
        margin-top: $spacer !important;
      }
    }
  }

  .mod_article.article-dark {
    background-color: #222;
    > .inside {
      background-color: transparent;
    }
  }

  .mod_article.article-white {
    background-color: #fff;
    > .inside {
      background-color: #fff;
    }
  }

  .mod_article.article-accent-2 {
    background-color: $accent-color-2;
    > .inside {
      background-color: transparent;
    }
  }

  .mod_article.article-gray {
    background-color: #9e9e9e4a;
    > .inside {
      background-color: transparent;
    }
  }

}












