html {
  min-height: 101%;
  //overflow-y: scroll; //prevent display two scrollbars
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {

  font-size: $font-size-sm;
  line-height: $line-height-sm;

  @include media-breakpoint-up(xs) {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }
  @include media-breakpoint-up(sm) {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }
  @include media-breakpoint-up(lg) {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }
  @include media-breakpoint-up(xl) {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }

  // The font family
  font-family: $font-family-base;

  // Go easy on the eyes and use something other than `#000` for text
  color: $body-color;
  // By default, `<body>` has no `background-color` so we set one as a best practice.
  background-color: $body-bg;
}

