/**
 * Container border settings
 */
$col-border-width: 1px;
$col-border-style: solid;
$col-border-color: #e4e4e4;
$media-breakpoints-border: sm, md, lg, xl;

.col-border {
  border: $col-border-width $col-border-style $col-border-color;
}

.col-border-top {
  border-top: $col-border-width $col-border-style $col-border-color;
}

.col-border-right {
  border-right: $col-border-width $col-border-style $col-border-color;
}

.col-border-bottom {
  border-bottom: $col-border-width $col-border-style $col-border-color;
}

.col-border-left {
  border-left: $col-border-width $col-border-style $col-border-color;
}

@each $size in $media-breakpoints-border {
  @include media-breakpoint-up($size) {
    .col-border-#{$size} {
      border: $col-border-width $col-border-style $col-border-color;
    }
    .col-border-#{$size}-top {
      border-top: $col-border-width $col-border-style $col-border-color;
    }
    .col-border-#{$size}-right {
      border-right: $col-border-width $col-border-style $col-border-color;
    }
    .col-border-#{$size}-bottom {
      border-bottom: $col-border-width $col-border-style $col-border-color;
    }
    .col-border-#{$size}-left {
      border-left: $col-border-width $col-border-style $col-border-color;
    }
  }
}



