.gallery_creator {
  .card {
    border-radius: 0;
    margin-bottom: $spacer;
    border: 1px solid transparent;

    .card-block {
      border: 1px solid $gray-lighter;
      border-top: 0;
    }
    .card-title {
      font-size: 1.5rem;
    }
    .card-img-top {
      border-radius: 0;
      cursor: pointer;

      &:hover {
        background: rgba(16, 16, 16, 0.7);
      }
    }

    .card-img-top:hover {
      background-color: #000;
    }

    .card-img-top:hover img {
      opacity: 0.7;
      @include transition(opacity, .4s);
    }
  }


  .event-date {
    margin-bottom: $spacer;
    color: #000;
    font-size: 0.75rem;
    font-weight: bold;
  }

  // Bildbreite immer 100% der Breite des umschliessenden Elemetns */
  a.headline-link:hover {
    text-decoration: none !important;
  }

  .image_container {
    width: 100%;
    img {
      max-width: 100%;
      height: auto;
      width: 100%;
    }
  }



  &.listview {
    .row {
      margin: 0 -0.5rem;
      > div {
        padding: 0 0.5rem;
      }
    }

  }

  &.detailview {
    ul.row.album-detailview {
      padding: 0;
      margin: 0 -5px;
      //margin-top: $spacer;
      li {
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 10px;
        figure{
          margin:0;
        }
      }
    }
    .image_container {
      margin: 0;
    }
    .album-comment {
      margin-bottom: $spacer;
    }
    // Bildbeschreibung
    .headline {
      display: none;
    }
  }

}

#main .mod_gallery_creator_album_comments
{
  .widget {
    display: flex;
    flex-direction: column-reverse;
  }
}
