#header {
  .header-row-1 {
    //background-color: #607d8b29;
    background-color: $accent-color-2;

    @include media-breakpoint-up(lg) {
      //background-color: #607d8b29;
      background-color: $accent-color-2;
    }

    .header-title h1 {
      font-family: Georgia, 'Times New Roman', serif;
      font-weight: normal;
      font-size: 2rem;
      line-height: 1 !important;

      @include media-breakpoint-up(lg) {
        font-size: 2.5rem;
      }
      @include media-breakpoint-up(xl) {
        font-size: 3rem;
      }
    }

    .header-logo img {
      height: 60px;
      width: auto;
      @include media-breakpoint-up(lg) {
        height: 80px;
      }
    }

    .header-navigation-toggle-container .fa-bars {
      font-size: 2rem;
      color: #000;
    }
  }
}

.header-row-1 {
  background: #607d8b29;
  @include media-breakpoint-up(lg) {
    background: #607d8b29;
  }
}
.header-row-2 {
  background-color: $accent-color;
}
