#leitbild_titel_layer {
  position: absolute;
  top: 12%;
  left: 78%;
  z-index: 99;
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

#leitbild_titel_layer h4 {
  cursor: pointer;
  font-size: 14px;
}

#leitbild_karte {
  position: relative;
  z-index: 1;
}
#leitbild_karte .hidden {
  visibility: hidden;
  width:100%;
}

.leitbild_text {
  position: absolute;
  z-index: 98;
  top: 12%;
  left: 5%;
  width: 60%;
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

#leitbild_text_0 {
  cursor: pointer !important;
  top: 20%;
  width: 60%;
  z-index: 100;
}