$navbar-height: 45px;


#header {
  * {
    overflow: visible;
  }
  .mod_navigation.navbar-header {
    z-index: $zindex-navbar;
    height: $navbar-height;
    overflow-y: visible;
    background-color: $accent-color;
    color: #000;
    //margin-top: 100px;
    ul, li {
      margin: 0;
      padding: 0;
      line-height: 1;
    }
    ul.level_1 {
      display: flex;

      > li > a, > li > strong {
        line-height: $navbar-height;
        color: #fff;
        text-decoration: none;
        @include media-breakpoint-up(lg) {
          font-size: 1.125rem !important;
        }
        font-weight: 500;
      }

      ul {
        display: none;
      }
      > li {
        margin: 0 2px 0 0;
        padding: 0 $spacer-x;
        position: relative;
        height: $navbar-height;
        @include transition(background-color);
        z-index: $zindex-dropdown;
      }

      > li.submenu > a:after, >li.submenu > strong:after {
        font-family: $icon-font-name;
        content: "\f078";
        padding-left: $spacer-x;
        color: #fff;
      }
      > li.trail, > li.active {
        background-color: #671010;
        > strong, > a, > a:after, > strong:after {
          color: #fff;
        }
      }
      > li.expanded, > li:hover {
        background-color: #671010;
        > a, > a:after, > strong {
          color: #fff;
          text-decoration: none;
        }
      }
      li.expanded {
        ul {
          display: block;
        }
        > ul {
          position: absolute;
          top: $navbar-height;
          left: 0;
          width: 200px;
        }
        li {
          display: block;
        }
      }
    }
    ul.level_2 {
      background-color: #eee;
      opacity: 1;
      a, strong {
        color: #000;
        text-decoration: none;
      }
      > li {
        line-height: 3;
        border-top: 1px solid #fff;
        padding: 0 $spacer-x;
      }
      > li:first-child {
        border: 0;
      }
    }
    ul.level_3 {
      margin-top: -10px;
      background-color: #eee;
      opacity: 1;
      a, strong {
        color: #000;
        font-size: 0.875rem;
      }
      > li {
        line-height: 2;
        //border-top: 1px solid #fff;
        padding: 0 $spacer-x;
      }
      > li:first-child {
        border: 0;
      }
    }
  }
}
