.mod_newslist.timeline {
  list-style-type: none;
  position: relative;
  margin-left:0;
  margin-right:0;
}
.mod_newslist.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 14px;
  width: 2px;
  height: 100%;
  z-index: 3;
}
.mod_newslist.timeline > div {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 50px;
}
.mod_newslist.timeline > div:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid $accent-color;
  left: 5px;
  width: 20px;
  height: 20px;
  z-index: 4;
}
