.mod_newslist{
  @extend .row;
  .layout_latest{
    h3 a {
      color: #000;
      @include transition(color);
      &:hover{
        color: $link-color;
      }
    }
  }
  margin-bottom: 30px;
  .pagination{
    padding:0 $spacer-x;
    display:block;
    p{
      display:block;
    }
    ul{
      display:flex;
      li{
        margin-right: 10px;
      }
    }
  }
  .more {
    margin-top: $spacer-y;
  }
}