.scroll-to-top {
  width: auto;
  height: auto;
  padding: 10px $spacer;
  text-align: center;
  background: $accent-color;
  color: #fff;
  text-decoration: none;
  position: fixed;
  bottom: 50px;
  right: 10px;
  display: none;
  border-radius: 0;
  opacity: 1;
  @include transition(background-color);
  a, .fa{
    color: #fff;
  }
}
