.socialmedia {
  $socialmedia-button-line-height: 5rem;
  $socialmedia-button-aside-margin: 20px;
  $socialmedia-icon-font-size: 2rem;
  $socialmedia-button-line-height-mobile: 4rem;
  $socialmedia-button-aside-margin-mobile: 10px;
  $socialmedia-icon-font-size-mobile: 1.5rem;



  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  li {
    margin-left: $socialmedia-button-aside-margin;
    margin-right: $socialmedia-button-aside-margin;
    @include media-breakpoint-down(lg) {
      margin-left: $socialmedia-button-aside-margin-mobile;
      margin-right: $socialmedia-button-aside-margin-mobile;
    }
    .fa:hover, a:hover {
      text-decoration: none !important;
    }

    .fa-stack {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: $socialmedia-button-line-height;
      height: $socialmedia-button-line-height;
      line-height: $socialmedia-button-line-height;
      @include media-breakpoint-down(lg) {
        width: $socialmedia-button-line-height-mobile;
        height: $socialmedia-button-line-height-mobile;
        line-height: $socialmedia-button-line-height-mobile;
      }
      .fa {
        width: 100%;
        position: absolute;
        left: 0;
        line-height: $socialmedia-button-line-height;
        @include media-breakpoint-down(lg) {
          line-height: $socialmedia-button-line-height-mobile;
        }
        text-align: center;
        transition: color linear .4s;
      }
      .fa-stack-circle {
        color: #fff;
        font-size: $socialmedia-button-line-height;
        @include media-breakpoint-down(lg) {
          font-size: $socialmedia-button-line-height-mobile;
        }
        &:hover {
          color: $accent-color;
        }
      }
      .fa-stack-icon {
        color: $accent-color;
        font-size: $socialmedia-icon-font-size;
        @include media-breakpoint-down(lg) {
          font-size: $socialmedia-icon-font-size-mobile;
        }
        &:hover {
          color: #fff;
        }
      }
    }
    // Hover
    .fa-stack:hover {
      .fa-stack-circle {
        color: #fff;
      }
      .fa-stack-icon {
        color: $accent-color;
      }
    }
  }
}