.mod_chronometryList {

  #chronometry-app .application {
    visibility: hidden;
  }
  #chronometry-app.is-ready .application {
    visibility: visible;
  }
  #sidebarContainer {
    background-color: #333;
    padding: 1rem;
    position: fixed;
    min-width: 290px;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 1;
    z-index: 1040;
    overflow-y: auto;

    &[data-toggle="closed"] {
      min-width: auto;
      height: auto;
      overflow-y: hidden;
      .inner {
        display: none;
      }
    }

    .toggle-sidebar {
      color: #fff;
      font-size: 26px;
    }

    .clock {
      font-size: 60px;
      color: #fff;
    }

    #toolContainer {
      label {
        color: #eee;
      }

      ul {
        list-style-type: none;
        padding: 0;
        li {
          color: #eee;
        }
      }

      .card-header {
        border-bottom-color: #eeeeee;
        padding-left: 0.5rem;
        button[data-toggle="collapse"] {
          color: #eee;
          font-weight: bold;
          text-decoration: none;
          font-size: 1rem;
          &:before {
            font-family: "Font Awesome 5 Free";
            content: "\f068";
          }
          &.collapsed:before {
            content: "\f067";
          }
        }

      }

      .dropdown.suggest {
        position: relative;
        top: 100%;
        left: -1px;
        ul {
          padding: 0;
          margin: 0;
          li {
            border-bottom: 1px solid #ddd;
            line-height: 2rem;
            padding: 0 5px;
            z-index: 99999;
            color: #333 !important;

            &:hover {
              cursor: pointer;
              background-color: #ccc;
              color: #333 !important;
            }
          }
        }
      }
    }
  }

  .table-container {
    table {
      thead {
        th[data-sort] {
          cursor: pointer;
        }
      }

      tr td.number:after {
        font-family: "Font Awesome 5 Free";
        padding-left: 10px;
      }

      tr[data-runnerHasFinishedRace="true"] {
        td.number:after {
          content: "\f14a";
          color: green;
        }
      }

      tr[data-runnerHasGivenUpRace="true"] {
        td.number:after {
          content: "\f556";
          color: red;
        }
      }

      tr.requesting {
        td.number:after {
          content: "\f14d";
          color: blue;
        }
      }
    }
  }

  #chronometryModal.modal {
    .modal-header {
      position: relative;
      .close {
        font-size: 4rem;
      }
    }
    .modal-body {
      color: #000;
      .modal-endtime {
        font-size: 2rem;
      }
      .large-icon {
        font-size: 2rem;
      }
      #endtimeCtrl {
        font-size: 2rem;
        background-color: darkseagreen;
        color: #000;
      }
    }
    .modal-title {
      font-size: 3rem;
      color: black;
    }
    .modal-content {
      top: 60px;
    }
    .clockStyle {
      font-size: 2rem;
      color: red !important;
      text-align: left;
    }
  }

  #chronometryModal.modal.runner-is-finisher {
    #infoRunnerHasFinished {
      display: block !important;
      font-size: 2rem;
    }
    #endtimeCtrl {
      background-color: #ac2925;
      color: #fff;
    }
  }

  [role="button"] {
    cursor: pointer;
  }
}
