$notBookableBg: rgba(255, 200, 196, 0.66);
$bookableBg: rgba(115, 207, 97, 0.42);
$loggedInUserIsHolderBg: rgba(3, 169, 244, 0.32);
$iconBookingColor: #fff;

.mod_resourceBookingWeekcalendar {
  .resource-booking-app .vue-application {
    visibility: hidden;
  }
  .resource-booking-app.is-ready .vue-application {
    visibility: visible;
  }

  .resource-booking-form{
    .week-select{
      option.past-week{
        color: #8e8e8e;
      }
      option.current-week{
        font-weight: bold;
        color: #000000;
      }
      option.future-week{
        /** **/
      }
    }
  }

  table.resource-booking-table-main, table.resource-booking-table-modal {
    * {
      font-size: small;
    }
    td, th {
      background-color: #fff;
      border: 3px solid #fff;
      padding: .25rem;
    }

    td.time-slot-cell {
      background-color: $bookableBg;
      height: 6rem;
    }
    td.time-slot-cell[data-isbooked="true"] {
      background-color: $notBookableBg;
    }
    td.time-slot-cell[data-isbookable="true"] {
      background-color: $bookableBg;
      text-align: center;
      vertical-align: middle;
    }
    .btn-cancel-booking, .icon-cancel-booking {
      color: red;
    }
    .btn-booking, .icon-booking {
      font-size: 2rem;
      color: $iconBookingColor;
    }
    .btn-booking .icon-cancel-booking {
      display: none;
    }
    .btn-cancel-booking .icon-booking {
      display: none;
    }
  }
  // Wrap long words
  table.resource-booking-table-main {
    td, th {
      min-width: 100px;
      max-width: 100px;
      word-break: break-all;
    }
    td.time-slot-cell[data-is-holder="true"] {
      background-color: $loggedInUserIsHolderBg;
      .holder-box {
        font-weight: bold;
      }
    }
  }
  .tl_error {
    background-color: var(--danger);
    padding: 0.5rem;
  }

  table.resource-booking-table-modal {
    td, th {
      height: auto !important;
      min-height: 2.5rem;
      text-align: center;
      vertical-align: middle;
    }
  }
  table.table-no-border {
    td, th {
      border: none !important;
      border: 0 !important;
      border-color: transparent !important;
    }
  }

  .booking-preview.table > tbody {
    tr td {
      padding-left: 4px;
      padding-right: 4px;
    }
    tr.bookable td {
      background-color: $bookableBg;
    }
    tr.not-bookable td {
      background-color: $notBookableBg;
    }
  }

  .timeSpanSelect option[selected] {
    background-color: #149efb;
  }
}





