$notBookableBg: rgba(255, 200, 196, 0.66);
$bookableBg: rgba(182, 228, 182, 0.38);
$loggedInUserIsHolderBg: rgba(255, 164, 152, 0.63);

.mod_resourceBookingWeekCalendar {
  #resourceBookingApp .vue-application {
    visibility: hidden;
  }
  #resourceBookingApp.is-ready .vue-application {
    visibility: visible;
  }
  table.resource-booking-table-main, table.resource-booking-table-modal {
    * {
      font-size: small;
    }
    td, th {
      background-color: #fff;
      border: 3px solid #fff;
      padding: .25rem;
    }

    td.time-slot-cell {
      background-color: $bookableBg;
      height: 6rem;
    }
    td.time-slot-cell[data-isbooked="true"] {
      background-color: $notBookableBg;
    }
    .btn-cancel-booking {
      color: red;
    }
    .btn-booking {
      color: #666;
    }
    .btn-booking svg.fa-window-close {
      display: none;
    }
    .btn-cancel-booking svg.fa-shopping-cart {
      display: none;
    }
  }
  // Wrap long words
  table.resource-booking-table-main {
    td, th {
      min-width: 100px;
      max-width: 100px;
      word-break: break-all;

    }
    td.time-slot-cell[data-is-holder="true"] {
      background-color: $loggedInUserIsHolderBg;
      .holder-box {
        font-weight: bold;
      }
    }
  }
  .tl_error {
    background-color: var(--danger);
    padding: 0.5rem;
  }

  table.resource-booking-table-modal {
    td, th {
      height: auto !important;
      min-height: 2.5rem;
      text-align: center;
      vertical-align: middle;
    }
  }
  table.table-no-border {
    td, th {
      border: none !important;
      border: 0 !important;
      border-color: transparent !important;
    }
  }
  table#bookingPreview {
    tr td {
      padding-left: 4px;
      padding-right: 4px;
    }
    tr.bookable td {
      background-color: $bookableBg;
    }
    tr.not-bookable td {
      background-color: $notBookableBg;
    }
  }

  .timeSpanSelect option[selected] {
    background-color: #149efb;
  }
}

// Customizing
// Etwas Abstand nach dem Mittag
tr.time-slot-6 td {
  border-top: 20px solid #fff !important;
}

// Etwas Abstand nach de Pausen
tr.time-slot-4 td, tr.time-slot-8 td {
  border-top: 8px solid #fff !important;
}

tr.time-slot-6 td {
  border-top: 20px solid #fff !important;
}




