.mod_resourceBookingWeekCalendar {
  #resourceBookingApp .vue-application {
    visibility: hidden;
  }
  #resourceBookingApp.is-ready .vue-application {
    visibility: visible;
  }
  table.resource-booking-table-main, table.resource-booking-table-modal {
    * {
      font-size: small;
    }
    td, th {
      background-color: #fff;
      border: 2px solid #fff;
      padding: .25rem;
    }

    td.time-slot-cell {
      background-color: rgba(182, 228, 182, 0.38);
      height: 6rem;
    }
    td.time-slot-cell[data-isbooked="true"] {
      background-color: rgba(255, 200, 196, 0.66);
    }
    .btn-cancel-booking {
      color: red;
    }
    .btn-booking {
      color: #666;
    }
  }
  // Wrap long words
  table.resource-booking-table-main {
    td, th {
      min-width: 100px;
      max-width: 100px;
      word-break: break-all;

    }
    td.time-slot-cell[data-is-holder="true"] {
      background-color: rgba(255, 164, 152, 0.63);
      .holder-box {
        font-weight: bold;
      }
    }
  }
  .tl_error {
    background-color: var(--danger);
    padding: 0.5rem;
  }

  table.resource-booking-table-modal {
    td, th {
      height: auto !important;
      min-height: 2.5rem;
      text-align: center;
      vertical-align: middle;
    }
  }
  table.table-no-border {
    td, th {
      border: none !important;
      border: 0 !important;
      border-color: transparent !important;
    }
  }

  .timeSpanSelect option[selected] {
    background-color: #149efb;
  }
}
