#ctrl_faIcon #iconBox {
    padding: 10px 0;
    border: 1px solid #aaaaaa;
    height: auto;
    max-height: 600px;
    overflow: scroll;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#ctrl_faIcon #iconBox > div {
    width: 22%;
    line-height: 2em;
    padding: 10px;
    background-color: #fff;
    color: #fff;
    height: 20px;
}

#ctrl_faIcon #iconBox > .checked {
    background-color: #ebfdd7;
}

#ctrl_faIcon #iconBox > div > * {
    display: inline-block;
    margin-right: 4px;
}

#ctrl_faIcon .widget #iconBox [class*="fa-"] {
    font-size: 2em !important
}

#ctrl_faIcon #iconBox > div > [class*="fa-"] {
    color: #333;
}

